<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
   <script src="{{url_for('static', filename='/js/visualiser.js')}}"></script>
   <script src="{{url_for('static', filename='/js/d3/d3.js')}}"></script>

   <!-- <script type="./module"  src="scraper.js"></script>-->
    <title>Pridictive Maintenance</title>
</head>
<body>
    <div id="titre">
        <h1>dachboard des infos de la machine</h1>
        <h2 style="color:rgb(9, 9, 9);">
            {{ prediction_text }}
        </h2>
    </div>
</body>
</html>